*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #5cdb94;
  color: #05396b;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;

}

h1{
  margin: 30px;
}

.parties{
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.party{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #edf5e0;
  padding: 10px 40px;
  background-color: #05396b;
  border: 1px solid #5cdb94;
  margin: 2px;
}

.party button{
  color: #edf5e0;
  background-color: #05396b;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

