*,*:before,*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
   background-image: linear-gradient(to right, #1E40AF, #60A5FA);
}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child{
  background: linear-gradient(
      #7118ad,
      #f62394
  );
  left: -80px;
  top: -80px;
}
.shape:last-child{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -80px;
}
form{
  font-family: "Freeman", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 30px 35px;
}


form *{
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 38px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  color:white;
  font-family: "Freeman", sans-serif;
  font-style: normal;
  padding-bottom: 18px;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  color:white
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgb(216, 214, 214,08);
  border: 1px solid;
  border-color: rgba(28, 27, 27, 0.5);
  border-radius: 20px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}
::placeholder{
  color: black;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}
.forget{
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
}
#forget_id{
  text-decoration: none;
}

.disp_error{
  font-size: 20px;
  position: relative;
  z-index: 5;
}